In [1]:
import pandas as pd
FILE_NAME_IN = '../raw/DA09CJX4KW6RZ376NFHJ_2020-12-15_2021-01-01_no_quote.csv'
FILE_NAME_OUT = '../processed/DA09CJX4KW6RZ376NFHJ_2020-12-15_2021-01-01_count_by_city.json'

In [2]:
df = pd.read_csv(FILE_NAME_IN)
df.head()

,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,TS,UKEY,RESULT
0,Sydney,NSW,AU,-33.8591,151.2002,2020-12-15 18:45:14.476,DUT61FR4A88WXQSQ1951,FAILURE
1,Big Rapids,MI,US,43.6927,-85.4781,2020-12-15 13:27:27.593,DUR4GHIDREBD4YVWMQMZ,SUCCESS
2,Santa Clara,CA,US,37.3417,-121.9753,2020-12-15 16:30:30.981,DUM0OKU5CDB6ZUMMAIGX,SUCCESS
3,Petaluma,CA,US,38.2403,-122.6777,2020-12-15 23:51:16.872,DU6S8GIIKDFNK5EG3RNV,SUCCESS
4,Toronto,ON,CA,43.6644,-79.4195,2020-12-15 13:41:12.088,DU3C92NOTCFZZ08N838O,SUCCESS

In [3]:
by_city = df.groupby(['CITY', 'STATE', 'COUNTRY'])

In [4]:
out_df = by_city.agg(
    avg_latitude=pd.NamedAgg(column='LATITUDE', aggfunc="mean"),
    avg_longitude=pd.NamedAgg(column='LONGITUDE', aggfunc="mean"),
    auths=pd.NamedAgg(column='TS', aggfunc='count')
)
out_df.head()

                        avg_latitude  avg_longitude  auths
CITY     STATE COUNTRY
Aberdeen MD    US            39.5125       -76.1806     42
Abingdon MD    US            39.4799       -76.2955     36
Addison  TX    US            32.9569       -96.8317     35
Akron    OH    US            41.0793       -81.5229     48
Alameda  CA    US            37.7688      -122.2620     31

In [5]:
records = []
for index, row in out_df.iterrows():
    records.append(
        dict(
            city=index[0],
            state=index[1],
            country=index[2],
            coordinates=(row.avg_latitude, row.avg_longitude),
            auths=int(row.auths)
        )
    )

In [6]:
records[0]

{'city': 'Aberdeen',
 'state': 'MD',
 'country': 'US',
 'coordinates': (39.51250000000003, -76.18060000000003),
 'auths': 42}

In [7]:
import json
with open(FILE_NAME_OUT, 'w') as fout:
    json.dump(records, fout)